<style>
    .performance_number {
        text-align: center;
        position: absolute;
        top: 0px;
    }

    .performance_number .fa.big {
        margin-top: -15px;
    }

    .container-fixed-height {
        min-height: 30px;
        position: relative;
    }

    .container-fixed-height.margin-top {
        margin-top: 10px;
    }

    .container-fixed-height.margin-bottom {
        margin-bottom: 10px;
    }

    .number-huge {
        font-size: 20px;
    }

    .number-big {
        font-size: 15px;
        line-height: 25px;
    }

    .progress .bar.completed-bar {
        background-image: none;
        background-color: #214279;
        height: 25px!important;
    }

    .progress .bar.not-completed-bar {
        background-image: none;
        background-color: #214279;
        height:25px!important;    

    }

    .progress .bar {
        border-radius: 0px;
        height:25px!important; 
        background:#214279!important;

    }
    .progress
    {
    height:25px;
    background: #84d3fd!important;
    width: 50%!important;
    margin: 0 auto!important;
    }
    .number-huge
    {
    display:none!important;    
    }
    .textos
    {
    text-align:center;    
    }
    .textos1
    {
    text-align:center;
    width:60%;
    }
</style>

<div class="container-fluid">
    <div class="row-fluid">
	
        <div class="span12">
            <div class="container-fixed-height margin-top" style="display:none;">
                <div class="performance_number" style="left:{{cl.cursor1}}%;margin-left: -{{cl.cursor1_margin}}px;">
                </div>
                <div class="performance_number" style="left:{{cl.cursor3}}%;margin-left: -28px;">
                </div>
            </div>
            <p class="textos">Porcentaje de campos completados</p>
            <div class="progress ">
                <div class="bar" role="progressbar" style="width:{{cl.cursor2}}%;">                
                    <span class="number-big">{{cl.cursor2}}%</span>
                </div>
                <div class="bar completed-bar" role="progressbar" style="width:{{cl.cursor2_progressbar}};"></div>
            </div>
            <div class="container-fixed-height margin-bottom">
                <p class="textos1">Diligenciados</p>    
                <div class="performance_number" style="left:{{cl.cursor2}}%;margin-left: -12px;">
                </div>
            </div>
        </div>
    </div>
</div>
