<div id="endpoint_6ed584da3b499235968cdb0277a9b79a_full" class="row-fluid collapse in" aria-expanded="true" style="">
<pre>

Detalle  WS creados (custom)
POST /rest/v11_8/ws_dropdown_dependency
WS para que el cliente envíe la dependencia
POST:
[
    {
        "module":"sasa_Paises",
        "field":"prueba_c",
        "parent_field":"sasa_estado_c",
        "dependency": {
            "":[
                "Other",
                "Customer"
            ],
            "A":[
                "Other",
                "Integrator",
                "Customer",
                "Other",
                "Press"
            ],
            "I":[  
                "Other",
                "Partner",
                "Prospect",
                "Press"
            ]
        }
    },    
    {
        "module":"Accounts",
        "field":"account_type",
        "parent_field":"industry",
        "dependency": {
            "":[
                "Other",
                "Customer"
            ],
            "A":[
                "Other",
                "Integrator",
                "Customer",
                "Other",
                "Press"
            ],
            "I":[  
                "Other",
                "Partner",
                "Prospect",
                "Press"
            ]
        }
    }
]
Response:
[
    {
        "code": "200",
        "message": "Request queued with id: Array"
    },
    {
        "code": "113",
        "message": "Dependency's values don't exist on field dropdown"
    }
]
GET /rest/v11_8/ws_dropdown_dependency/get/<lote> 
Ws para que la ETL consulte las dependencias a procesar, se agrega lote para limitar el número de registros entregados por minuto..timeout
Response
{
    "code": "200",
    "message": [
        {
            "id": "8",
            "request": "{&#34;module&#34;:&#34;sasa_Paises&#34;,&#34;field&#34;:&#34;prueba_c&#34;,&#34;parent_field&#34;:&#34;sasa_estado_c&#34;,&#34;dependency&#34;:{&#34;&#34;:[&#34;Other&#34;,&#34;Customer&#34;],&#34;A&#34;:[&#34;Other&#34;,&#34;Integrator&#34;,&#34;Customer&#34;,&#34;Other&#34;,&#34;Press&#34;],&#34;I&#34;:[&#34;Other&#34;,&#34;Partner&#34;,&#34;Prospect&#34;,&#34;Press&#34;]}}",
            "status": "queued"
        },
        {
            "id": "9",
            "request": "{&#34;module&#34;:&#34;sasa_Paises&#34;,&#34;field&#34;:&#34;prueba_c&#34;,&#34;parent_field&#34;:&#34;sasa_estado_c&#34;,&#34;dependency&#34;:{&#34;&#34;:[&#34;Other&#34;,&#34;Customer&#34;],&#34;A&#34;:[&#34;Other&#34;,&#34;Integrator&#34;,&#34;Customer&#34;,&#34;Other&#34;,&#34;Press&#34;],&#34;I&#34;:[&#34;Other&#34;,&#34;Partner&#34;,&#34;Prospect&#34;,&#34;Press&#34;]}}",
            "status": "queued"
        }
    ]
}
GET /rest/v11_8/ws_dropdown_dependency/set/<id>
Ws para que la ETL indique cual dependencia ya proceso
Response:
{
    "code": "200",
    "message": "Request 7 was mark as 'done'"
}



Diccionario de errores WS custom
‘code’ = '100'
'message' = 'FatalError: '  + $e->getMessage()
'code' = '101'
'message' = JSON + “ is an invalid request"
'code' = '102'
'message' = JSON[‘module’] + “  is an invalid module"
'code' = '103'
'message' = JSON[field] + " is an invalid field"
'code' = '104'
'message' = JSON[parent_field] + " is an invalid parent_field"
'code' = '105' 
'message' = JSON[dependency] + " is an invalid dependency"
'code' = '106'
'message' = "Module “ + JSON[‘module’] + ” doesn't exists"
['code' = '107'
'message' = "Field “ + JSON[‘field’] + ” doesn't exists"
'code' = '108' 
'message' = "Field “ + JSON[‘field’] + ” is not dropdown (enum)"
'code' = '109' 
'message' = "Parent_field “ + JSON[‘parent_field’] + ” doesn't exists"
‘code' = '110'
'message' = "Parent_field “ + JSON[‘parent_field’] + ” is not dropdown (enum)"
'code' = '111'
'message' = "'Field' dropdown is empty, contact Sugar administrator!"
'code' = '112' 
'message' = "'Parent field' dropdown is empty, contact Sugar administrator!"
'code' = '113' 
'message' = "Dependency's values don't exist on ‘field’ dropdown"
'code' = '114'
'message' = "Dependency's values don't exist on ‘parent_field’ dropdown"
'code' = '115'
'message' = “FatalError: mysql error creating 'ws_dropdown_dependency' table!!!”
'code' = '116';
'message' = "FatalError: mysql error!!!";
‘code' = '117' 
'message' = "FatalError: mysql error inserting records on 'ws_dropdown_dependency' table!!!"
'code' = '118' 
'message' = "FatalError: mysql error!!!"
'code' = '119'
'message' = "FatalError: mysql error selecting records from 'ws_dropdown_dependency' table with a limit of '” + GET_REQUEST[lote] + ”'!!!"
'code' = '120'; 
'message' = "No records to process";
'code' = '121' 
'message' = "FatalError: mysql error updating status 'done' on record with id '” + GET_REQUEST[id] + ” on table 'ws_dropdown_dependency'!!!"
'code' = '123'
'message' = "Request level was expected to be 3 but “ + level(Json) + “ was given"

</pre>
</div>
