<div id="endpoint_6ed584da3b499235968cdb0277a9b79a_full" class="row-fluid collapse in" aria-expanded="true" style="">

                    <div class="span12 well">

                        <!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
-->
<h2>Overview</h2>
<span class="lead">
	R1 Construcción nuevo ws para inserción de valores de listas<p><br><p>

	Desarrollo para insertar valores nuevos a listas desplegables, todas las listas desplegables están en orden alfabético, por tal motivo es necesario que al insertar estos valores nuevos a las listas queden en la ubicación correcto por orden alfabético
</span>

<h2>Request Arguments</h2>
<table class="table table-hover">
    <thead>
	    <tr>
		<th>Name</th>
		<th>Type</th>
		<th>Description</th>
		<th>Required</th>
	    </tr>
    </thead>
    <tbody>
	    <tr>
		<td>
		    &lt;list_injector&gt;
		</td>
		<td>
		    &lt;array&gt;
		</td>
		<td>
		    The name value list of fields to populate.
		</td>
		<td>
		    True
		</td>
	    </tr>
	    <tr>
		<td>
		    &lt;list_injector.option&gt;
		</td>
		<td>
		    &lt;string&gt;
		</td>
		<td>
		    Nombre de la lista a modificar
		</td>
		<td>
		    True
		</td>
	    </tr>
	    <tr>
		<td>
		    &lt;list_injector.key&gt;
		</td>
		<td>
		    &lt;string&gt;
		</td>
		<td>
		    Valor interno nuevo de la lista
		</td>
		<td>
		    True
		</td>
	    </tr>
	    <tr>
		<td>
		    &lt;list_injector.value&gt;
		</td>
		<td>
		    &lt;string&gt;
		</td>
		<td>
		    Valor vistible nuevo de la lista
		</td>
		<td>
		    True
		</td>
	    </tr>
    </tbody>
</table>

<h3>Request</h3>
<pre class="pre-scrollable">
{
	"list_injector": [
		{
			"option": "status_dom",
			"key": "19",
			"value": "Muerto"
		},
		{
			"option": "sasa_sexo_c_list",
			"key": "999",
			"value": "Indefinido"
		}
	]
}
</pre>

<h2>Response Arguments</h2>
<table class="table table-hover">
    <thead>
	    <tr>
		<th>Name</th>
		<th>Type</th>
		<th>Description</th>
	    </tr>
    </thead>
    <tbody>
	    <tr>
		<td>
		    list_injector: &lt;list name&gt;
		</td>
		<td>
		    &lt;array&gt;
		</td>
		<td>
		    The name value list of fields to populate.
		</td>
		<td>
		    True
		</td>
	    </tr>
	    <tr>
		<td>
		    &lt;list_injector.option&gt;
		</td>
		<td>
		    &lt;string&gt;
		</td>
		<td>
		    Nombre de la lista a modificar
		</td>
		<td>
		    True
		</td>
	    </tr>
	    <tr>
		<td>
		    &lt;list_injector.key&gt;
		</td>
		<td>
		    &lt;string&gt;
		</td>
		<td>
		    Valor interno nuevo de la lista
		</td>
		<td>
		    True
		</td>
	    </tr>
	    <tr>
		<td>
		    &lt;list_injector.value&gt;
		</td>
		<td>
		    &lt;string&gt;
		</td>
		<td>
		    Valor vistible nuevo de la lista
		</td>
		<td>
		    True
		</td>
	    </tr>
	    <tr>
		<td>
		    &lt;list_injector.status&gt;
		</td>
		<td>
		    &lt;string&gt;
		</td>
		<td>
		    200 si salio bien, de lo contrario mensaje de error string
		</td>
		<td>
		    True
		</td>
	    </tr>
    </tbody>
</table>

<h3>Response</h3>
<pre class="pre-scrollable">
{
    "list_injector": 
    [
    	{
    		"option":"status_dom",
    		"key":"19",
    		"value":"Muerto"
    		"status":"200"
    	},
    	{
    		"option":"sasa_sexo_c_list",
    		"key":"999",
    		"value":"Indefinido"
    		"status":"No existe el 'option'"
    	}
    ]
}
</pre>

                            <div class="pull-right muted">
                                <i class="fa fa-file"></i>
                                ./include/api/help/module_record_put_help.html                            </div>

                        </div>

                        <div class="pull-right">
                            <i class="fa fa-file"></i>
                            ./clients/base/api/ModuleApi.php                        </div>
                        
                </div>
