<style>
    .performance_number {
        text-align: center;
        position: absolute;
        top: 0px;
    }

    .performance_number .fa.big {
        margin-top: -15px;
    }

    .container-fixed-height {
        min-height: 30px;
        position: relative;
    }

    .container-fixed-height.margin-top {
        margin-top: 10px;
    }

    .container-fixed-height.margin-bottom {
        margin-bottom: 10px;
    }

    .number-huge {
        font-size: 20px;
    }

    .number-big {
        font-size: 15px;
    }

    .progress .bar.completed-bar {
        background-image: none;
        background-color: #00ffff;
    }

    .progress .bar.not-completed-bar {
        background-image: none;
        background-color: #00ffff;
    }

    .progress .bar {
        border-radius: 0px;
    }
</style>

<div class="container-fluid">
    <div class="row-fluid">
	<div class="span6 ">
	    <div class="container-fixed-height margin-top"></div>
	    <div class="container-fixed-height ">
		Porcentaje Campos Completados (<b>%</b>)
	    </div>
	</div>
        <div class="span6">
            <div class="container-fixed-height margin-top">
                <div class="performance_number" style="left:{{cl.cursor1}}%;margin-left: -{{cl.cursor1_margin}}px;">
                    <span class="number-huge">{{cl.cursor1}}</span><br />
                </div>
                <div class="performance_number" style="left:{{cl.cursor3}}%;margin-left: -28px;">
                    <span class="number-huge">{{cl.cursor3}}</span><br />
                </div>
            </div>
            <div class="progress ">
                <div class="bar" role="progressbar" style="width:{{cl.cursor2}}%;"></div>
                <div class="bar completed-bar" role="progressbar" style="width:{{cl.cursor2_progressbar}}%;"></div>
            </div>
            <div class="container-fixed-height margin-bottom">
                <div class="performance_number" style="left:{{cl.cursor2}}%;margin-left: -12px;">
                    <i class="fa fa-sort-asc"></i><br />
                    <span class="number-big">{{cl.cursor2}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
